<!DOCTYPE html>
<html lang="en">


<!-- molla/index-11.html  22 Nov 2019 09:58:23 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HashCart</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/assets/images/hashcart.jpeg">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="assets/css/demos/demo-11.css">
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-7">
            <div class="header-middle sticky-header">
                <div class="container ">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <img src="assets/images/demos/demo-11/logo1.png" alt="Molla Logo" width="82" height="25">
                        </a>
                    </div><!-- End .header-left -->
                    <!-- headerMiddle -->
                    <div class="header-right">
                        <nav class="main-nav" <% if(typeof userId=='undefined' ){%>
                            style="margin-right: 41rem;"
                            <%}else{%>
                                style="margin-right: 20rem;"
                                <%}%>>

                                    <ul class="menu sf-arrows">
                                        <!-- megamenu-container active ..put down for underline -->
                                        <li class="">
                                            <a href="/" class="sf-with-ul">Home</a>
                                        </li>
                                        <li>
                                            <a href="/shop" class="sf-with-ul">SHOP</a>

                                            <!-- <ul>
                                        <li>
                                            <a href="#">Outdoor</a>
                                            <ul>
                                                <li><a href="">patio furniture</a></li>
                                                <li><a href="">garden furniture</a></li>
                                                <li><a href="">outer decor</a></li>
                                                <li><a href="">backyard item</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Furniture</a>
                                            <ul>
                                                <li><a href="">tables</a></li>
                                                <li><a href="">chairs</a></li>
                                                <li><a href="">beds</a></li>
                                                <li><a href="">cupboard</a></li>
                                                <li><a href="">desks</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Kitchen</a>
                                            <ul>
                                                <li><a href="">kitchen cabinets</a></li>
                                                <li><a href="">kitchen islands</a></li>
                                                <li><a href="">bar stools and chairs</a></li>
                                                <li><a href="">kitchen carts</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Decoration</a>
                                            <ul>
                                                <li><a href="">light items</a></li>
                                                <li><a href="">creative</a></li>
                                                <li><a href="">colourful</a></li>
                                                <li><a href="">standard</a></li>
                                            </ul>
                                        </li>
                                    </ul> -->
                                        </li>
                                        <!-- <li>
                                    <a href="/shop" class="sf-with-ul">Shop</a>
                                </li> -->
                                        <li>
                                            <a href="/about" class="sf-with-ul">About us</a>

                                            <ul>
                                                <li>
                                                    <a href="/about">About</a>

                                                </li>
                                                <li>
                                                    <a href="/contact">Contact</a>
                                                </li>
                                                <li>
                                                    <a href="/faq">F.A.Q</a>
                                                </li>

                                            </ul>
                                        </li>

                                        <%if(typeof userId !='undefined' ){%>
                                            <li>
                                                <a href="/user" class="sf-with-ul">account</a>

                                                <ul>
                                                    <li><a href="/user">user</a></li>
                                                    <li>
                                                        <a href="/address">address</a>

                                                    </li>
                                                    <li><a href="/orders">orders</a></li>
                                                    <li>
                                                        <a href="/wallet">wallet</a>

                                                    </li>
                                                    <li>
                                                        <a href="#" onclick="logout()">log out</a>
                                                    </li>
                                                </ul>
                                            </li>

                                    </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->

                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form id="searchForm">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..."
                                        required>
                                </div>
                            </form>
                        </div><!-- End .header-search -->

                        <a href="/wishlist" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                            <!-- <span class="wishlist-count">3</span> -->
                        </a>

                        <div class="dropdown cart-dropdown">
                            <a href="/cart" class="dropdown-toggle">
                                <!-- //role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" data-display="static" -->
                                <i class="icon-shopping-cart"></i>
                                <!-- <span class="cart-count" id="cartcount">7</span>
                                <span class="cart-txt">$ 164,00</span> -->
                            </a>


                            <!-- <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.">Beige knitted elastic runner shoes</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $8
                                            </span>
                                        </div>

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="assets/images/products/cart/product-1.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i
                                                class="icon-close"></i></a>
                                    </div>

                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Blue utility pinafore denim dress</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $76.00
                                            </span>
                                        </div>

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="assets/images/products/cart/product-2.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i
                                                class="icon-close"></i></a>
                                    </div>
                                </div>

                                <div class="dropdown-cart-total">
                                    <span>Total</span>



                                    <span class="cart-total-price">$160.00</span>
                                </div>

                                <div class="dropdown-cart-action">
                                    <a href="/cart" class="btn btn-primary">View Cart</a>
                                    <a href="/checkout" class="btn btn-outline-primary-2"><span>Checkout</span><i
                                            class="icon-long-arrow-right"></i></a>
                                </div>
                            </div> -->
                            <%}else{%>
                                <li>
                                    <a href="#" class="sf-with-ul">Login</a>

                                    <ul>

                                        <li>
                                            <a href="/signIn">SIGN IN</a>
                                        </li>
                                        <li>
                                            <a href="/signUp">SIGN UP</a>

                                        </li>
                                    </ul>
                                </li>

                                </ul><!-- End .menu -->
                                </nav><!-- End .main-nav -->

                                <div class="header-search">
                                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                                    <form id="searchForm">
                                        <div class="header-search-wrapper">
                                            <label for="q" class="sr-only">Search</label>
                                            <input type="search" class="form-control" name="q" id="q"
                                                placeholder="Search in..." required>
                                        </div>
                                    </form>
                                </div><!-- End .header-search -->

                                <!-- <a href="/wishlist" class="wishlist-link">
                                    <i class="icon-heart-o"></i>
                                    <span class="wishlist-count">3</span>
                                </a>

                                <div class="dropdown cart-dropdown">
                                    <a href="/cart" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false" data-display="static">
                                        <i class="icon-shopping-cart"></i>
                                        <span class="cart-count" id="cartcount">7</span>
                                        <span class="cart-txt">$ 164,00</span>
                                    </a>


                                    <div class="dropdown-menu dropdown-menu-right">
                                        <div class="dropdown-cart-products">
                                            <div class="product">
                                                <div class="product-cart-details">
                                                    <h4 class="product-title">
                                                        <a href="product.">Beige knitted elastic runner shoes</a>
                                                    </h4>

                                                    <span class="cart-product-info">
                                                        <span class="cart-product-qty">1</span>
                                                        x $8
                                                    </span>
                                                </div>

                                                <figure class="product-image-container">
                                                    <a href="product.html" class="product-image">
                                                        <img src="assets/images/products/cart/product-1.jpg"
                                                            alt="product">
                                                    </a>
                                                </figure>
                                                <a href="#" class="btn-remove" title="Remove Product"><i
                                                        class="icon-close"></i></a>
                                            </div>

                                            <div class="product">
                                                <div class="product-cart-details">
                                                    <h4 class="product-title">
                                                        <a href="product.html">Blue utility pinafore denim dress</a>
                                                    </h4>

                                                    <span class="cart-product-info">
                                                        <span class="cart-product-qty">1</span>
                                                        x $76.00
                                                    </span>
                                                </div>

                                                <figure class="product-image-container">
                                                    <a href="product.html" class="product-image">
                                                        <img src="assets/images/products/cart/product-2.jpg"
                                                            alt="product">
                                                    </a>
                                                </figure>
                                                <a href="#" class="btn-remove" title="Remove Product"><i
                                                        class="icon-close"></i></a>
                                            </div>
                                        </div>

                                        <div class="dropdown-cart-total">
                                            <span>Total</span>



                                            <span class="cart-total-price">$160.00</span>
                                        </div>

                                        <div class="dropdown-cart-action">
                                            <a href="/cart" class="btn btn-primary">View Cart</a>
                                            <a href="/checkout"
                                                class="btn btn-outline-primary-2"><span>Checkout</span><i
                                                    class="icon-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                   
                                </div>End .cart-dropdown -->
                                <%}%>
                        </div><!-- End .header-right -->
                    </div><!-- End .container -->
                </div><!-- End .header-middle -->
        </header><!-- End .header -->
        <script>
            function logout() {
                Swal.fire({
                    title: "Are you sure?",
                    text: "Do you want to logout from hashcart ?",
                    icon: "question",
                    showCancelButton: true,
                    confirmButtonColor: "#C96",
                    cancelButtonColor: "#c0001",
                    confirmButtonText: "logout"
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/logout'

                    }
                })
            }

            document.getElementById('searchForm').addEventListener('submit', function (event) {
                event.preventDefault();
                const searchQuery = document.getElementById('q').value;
                if (searchQuery) {
                    window.location.href = `/search?q=${encodeURIComponent(searchQuery)}`;
                }
            });

        </script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>