<!DOCTYPE html>
<html lang="en">


<!-- export-table.html  21 Nov 2019 03:55:25 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Otika - Admin Dashboard Template</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="/admin/asset/css/app.min.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/admin/asset/bundles/datatables/datatables.min.css">
  <link rel="stylesheet" href="/admin/asset/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/admin/asset/css/style.css">
  <link rel="stylesheet" href="/admin/asset/css/components.css">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="/admin/asset/css/custom.css">
  <link rel='shortcut icon' type='image/x-icon' href='/admin/asset/img/favicon.ico' />
</head>
